<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoGrupo4.My.MySettings.PP2_HeladeriaConnectionString"
            connectionString="Data Source=KEIDY-LPT\SQLEXPRESS;Initial Catalog=PP2_Heladeria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>